body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#show-trainer {
	display: none;
	margin-top: 10px;
}

#show-client {
	display: none;
	margin-top: 10px;
}


#editting-buttons{
	padding-top: 10px;
}

#search-result{
	border-bottom: solid black;
}

#statusmessage{
	border: 2px solid green;
    position:fixed;
    bottom:0;
    padding:0 5px;
    line-height:25px;
    background-color:white;
    margin-bottom:-25px;
    font-weight:bold;
    left:0;
    right:0;
    text-align: center;
}